<!-- preloader -->
<div id="preloader">
    <div id="loading-center">
        <div class="loader">
            <div class="loader-outter"></div>
            <div class="loader-inner"></div>
        </div>
    </div>
</div>
<!-- preloader-end -->
<!-- Scroll-top -->
<button class="scroll-top scroll-to-target" data-target="html">
    <i class="fas fa-angle-up"></i>
</button>
<!-- Scroll-top-end-->
<!-- header-area -->
<header>
    <div class="header-top">
        <div class="container custom-container">
            <div class="row">
                <div class="col-xl-5">
                    <div class="header-top-left">
                        <a href="kampanyalar.html">
                            <i class="fa-solid fa-tag"></i> Güncel Kampanyalar: İlkbahar fırsatlarını keşfedin!
                        </a>
                    </div>
                </div>
                <div class="col-xl-7">
                    <div class="header-top-right">
                        <ul>
                            <li><a href="kurumsal-kulup.html">Kurumsal Kulüp</a></li>
                            <li><a href="miles-smiles.html">Miles&Smiles</a></li>
                            <li><a href="geri-bildirim.html"><i class="fa-solid fa-comments"></i>Geri Bildirim</a></li>
                            <li><a href="#"><i class="fa-solid fa-magnifying-glass"></i>Arama</a></li>
                            <li><a href="#"><i class="fa-solid fa-turkish-lira-sign"></i> TRY</a></li>
                            <li><a href="#"><i class="fa-solid fa-earth-americas"></i> TR - TÜRKİYE</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    @await Component.InvokeAsync("_DefaultNavbarComponentPartial")

</header>
<!-- header-area-end -->