<div id="sticky-header" class="menu-area transparent-header">
    <div class="container custom-container">
        <div class="row">
            <div class="col-12">
                <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                <div class="menu-wrap">
                    <nav class="menu-nav">
                        <div class="logo">
                            <a href="index.html"><img src="/geair/assets/img/logo/logo.png" alt="Uçuş Rezervasyon Logo"></a>
                        </div>
                        
                        <div class="navbar-wrap main-menu d-none d-lg-flex">
                            <ul class="navigation">
                                <li class="active"><a href="index.html">Ana Sayfa</a></li>
                                
                                <li class="menu-item-has-children">
                                    <a href="#">Bilet İşlemleri</a>
                                    <ul class="submenu">
                                        <li><a href="booking-list.html">Rezervasyonlarım</a></li>
                                        <li><a href="check-in.html">Online Check-in</a></li>
                                        <li><a href="booking-details.html">Bilet Sorgulama</a></li>
                                    </ul>
                                </li>

                                <li class="menu-item-has-children">
                                    <a href="#">Seyahat Rehberi</a>
                                    <ul class="submenu">
                                        <li><a href="blog.html">Gezi Notları</a></li>
                                        <li><a href="destinations.html">Popüler Rotalar</a></li>
                                    </ul>
                                </li>

                                <li><a href="kampanyalar.html">Fırsatlar</a></li>
                                <li><a href="about.html">Hakkımızda</a></li>
                                <li><a href="contact.html">İletişim</a></li>
                            </ul>
                        </div>

                        <div class="header-action d-none d-md-block">
                            <ul>
                                <li class="country">
                                    <a href="#">TRY <img src="/geair/assets/img/icon/turkey.png" alt="TR"></a>
                                </li>
                                <li class="question"><a href="contact.html" title="Yardım Merkezi">?</a></li>
                                
                                <li class="header-btn"><a href="register.html" class="btn">Üye Ol</a></li>
                                <li class="header-btn sign-in"><a href="login.html" class="btn">Giriş Yap</a></li>
                            </ul>
                        </div>
                    </nav>
                </div>

                <div class="mobile-menu">
                    <nav class="menu-box">
                        <div class="close-btn"><i class="fa-solid fa-xmark"></i></div>
                        <div class="nav-logo">
                            <a href="index.html"><img src="/geair/assets/img/logo/logo_02.png" alt="Logo"></a>
                        </div>
                        <div class="menu-outer">
                        </div>
                        <div class="social-links">
                            <ul class="clearfix">
                                <li><a href="#"><span class="fab fa-facebook-f"></span></a></li>
                                <li><a href="#"><span class="fab fa-instagram"></span></a></li>
                                <li><a href="#"><span class="fab fa-x-twitter"></span></a></li>
                                <li><a href="#"><span class="fab fa-youtube"></span></a></li>
                            </ul>
                        </div>
                    </nav>
                </div>
                <div class="menu-backdrop"></div>
            </div>
        </div>
    </div>
</div>