<section class="fly-next-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title text-center">
                    <span class="sub-title">Size Özel Seçenekler</span>
                    <h2 class="title">Dünyayı Keşfetmeye Hazır Mısınız?</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-9">
                <div class="fly-next-nav">
                    <button class="active" data-filter=".cat-popular">Popüler Rotalar <i class="flaticon-flight"></i></button>
                    <button class="" data-filter=".cat-europe">Avrupa Uçuşları <i class="flaticon-exchange-1"></i></button>
                    <button class="" data-filter=".cat-holiday">Tatil Destinasyonları <i class="flaticon-star"></i></button>
                </div>
            </div>
        </div>
        <div class="row fly-next-active justify-content-center">

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item grid-sizer cat-popular">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="booking-details.html"><img src="/geair/assets/img/images/fly_img01.jpg" alt=""></a>
                    </div>
                    <div class="fly-next-content">
                        <span>15 Haz 2026 - 22 Haz 2026</span>
                        <h4 class="title">İstanbul, Türkiye</h4>
                        <a href="#" class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">Londra, İngiltere</h4>
                        <a href="booking-details.html" class="air-logo"><img src="/geair/assets/img/icon/fly_icon01.jpg" alt=""></a>
                        <div class="content-bottom">
                            <p>En Çok Tercih Edilen</p>
                            <h4 class="price">₺ 2.150</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item grid-sizer cat-popular cat-europe">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="booking-details.html"><img src="/geair/assets/img/images/fly_img02.jpg" alt=""></a>
                    </div>
                    <div class="fly-next-content">
                        <span>10 Haz 2026 - 17 Haz 2026</span>
                        <h4 class="title">Ankara, Türkiye</h4>
                        <a href="#" class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">Berlin, Almanya</h4>
                        <a href="booking-details.html" class="air-logo"><img src="/geair/assets/img/icon/fly_icon02.jpg" alt=""></a>
                        <div class="content-bottom">
                            <p>Direkt Uçuş</p>
                            <h4 class="price">₺ 1.950</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item grid-sizer cat-popular cat-holiday">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="booking-details.html"><img src="/geair/assets/img/images/fly_img03.jpg" alt=""></a>
                    </div>
                    <div class="fly-next-content">
                        <span>20 Haz 2026 - 27 Haz 2026</span>
                        <h4 class="title">İstanbul, Türkiye</h4>
                        <a href="#" class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">Roma, İtalya</h4>
                        <a href="booking-details.html" class="air-logo"><img src="/geair/assets/img/icon/fly_icon03.jpg" alt=""></a>
                        <div class="content-bottom">
                            <p>Yaz Fırsatı</p>
                            <h4 class="price">₺ 2.200</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item grid-sizer cat-popular cat-europe">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="booking-details.html"><img src="/geair/assets/img/images/fly_img04.jpg" alt=""></a>
                    </div>
                    <div class="fly-next-content">
                        <span>12 Haz 2026 - 19 Haz 2026</span>
                        <h4 class="title">Gaziantep, Türkiye</h4>
                        <a href="#" class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">Viyana, Avusturya</h4>
                        <a href="booking-details.html" class="air-logo"><img src="/geair/assets/img/icon/fly_icon01.jpg" alt=""></a>
                        <div class="content-bottom">
                            <p>Haftalık Fırsat</p>
                            <h4 class="price">₺ 2.100</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item grid-sizer cat-popular cat-holiday">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="booking-details.html"><img src="/geair/assets/img/images/fly_img05.jpg" alt=""></a>
                    </div>
                    <div class="fly-next-content">
                        <span>05 Haz 2026 - 12 Haz 2026</span>
                        <h4 class="title">İstanbul, Türkiye</h4>
                        <a href="#" class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">Paris, Fransa</h4>
                        <a href="booking-details.html" class="air-logo"><img src="/geair/assets/img/icon/fly_icon03.jpg" alt=""></a>
                        <div class="content-bottom">
                            <p>Popüler Seçim</p>
                            <h4 class="price">₺ 2.350</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item grid-sizer cat-popular cat-europe">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="booking-details.html"><img src="/geair/assets/img/images/fly_img06.jpg" alt=""></a>
                    </div>
                    <div class="fly-next-content">
                        <span>01 Haz 2026 - 08 Haz 2026</span>
                        <h4 class="title">Ankara, Türkiye</h4>
                        <a href="#" class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">Amsterdam, Hollanda</h4>
                        <a href="booking-details.html" class="air-logo"><img src="/geair/assets/img/icon/fly_icon02.jpg" alt=""></a>
                        <div class="content-bottom">
                            <p>Ekonomi</p>
                            <h4 class="price">₺ 2.050</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item grid-sizer cat-popular cat-holiday">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="booking-details.html"><img src="/geair/assets/img/images/fly_img07.jpg" alt=""></a>
                    </div>
                    <div class="fly-next-content">
                        <span>10 Haz 2026 - 17 Haz 2026</span>
                        <h4 class="title">İstanbul, Türkiye</h4>
                        <a href="#" class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">Barselona, İspanya</h4>
                        <a href="booking-details.html" class="air-logo"><img src="/geair/assets/img/icon/fly_icon01.jpg" alt=""></a>
                        <div class="content-bottom">
                            <p>Yaz Tatili</p>
                            <h4 class="price">₺ 2.400</h4>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 grid-item grid-sizer cat-popular">
                <div class="fly-next-item">
                    <div class="fly-next-thumb">
                        <a href="booking-details.html"><img src="/geair/assets/img/images/fly_img08.jpg" alt=""></a>
                    </div>
                    <div class="fly-next-content">
                        <span>12 Haz 2026 - 19 Haz 2026</span>
                        <h4 class="title">Gaziantep, Türkiye</h4>
                        <a href="#" class="exchange-btn"><i class="flaticon-exchange-1"></i></a>
                        <h4 class="title">Münih, Almanya</h4>
                        <a href="booking-details.html" class="air-logo"><img src="/geair/assets/img/icon/fly_icon02.jpg" alt=""></a>
                        <div class="content-bottom">
                            <p>Hızlı Rezervasyon</p>
                            <h4 class="price">₺ 2.100</h4>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>