<section class="slider-area">
    <div class="slider-active">
        <div class="single-slider slider-bg" data-background="/geair/assets/img/slider/slider_bg01.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10">
                        <div class="slider-content">
                            <h2 class="title" data-animation="fadeInUp" data-delay=".2s">Seyahat Ettikçe Kazanın, Uçtukça Tasarruf Edin.</h2>
                            <p data-animation="fadeInUp" data-delay=".4s">Ücretsiz GeAir hesabı oluşturun, tüm uçuşlarınızda anında %10 ve üzeri indirim fırsatlarını yakalayın.</p>
                            <a href="contact.html" class="btn" data-animation="fadeInUp" data-delay=".6s">Hemen Üye Ol / Giriş Yap</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
         
        <div class="single-slider slider-bg" data-background="/geair/assets/img/slider/slider_bg02.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10">
                        <div class="slider-content">
                            <h2 class="title" data-animation="fadeInUp" data-delay=".2s">Dünyayı Keşfetmek İçin En Uygun Rotayı Çizin.</h2>
                            <p data-animation="fadeInUp" data-delay=".4s">Yüzlerce farklı noktaya avantajlı fiyatlarla uçun. Yeni maceralarınız bir tık uzağınızda.</p>
                            <a href="booking-list.html" class="btn" data-animation="fadeInUp" data-delay=".6s">Uçuşları Keşfet</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="single-slider slider-bg" data-background="/geair/assets/img/slider/slider_bg03.jpg">
            <div class="container">
                <div class="row">
                    <div class="col-xl-8 col-lg-10">
                        <div class="slider-content">
                            <h2 class="title" data-animation="fadeInUp" data-delay=".2s">Hızlı Rezervasyon, Sorunsuz Yolculuk.</h2>
                            <p data-animation="fadeInUp" data-delay=".4s">Biletinizi saniyeler içinde alın, online check-in yapın ve sıradan kurtulun. Gökyüzü sizi bekliyor.</p>
                            <a href="contact.html" class="btn" data-animation="fadeInUp" data-delay=".6s">Biletini Al</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>