<section class="features-area">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-xl-4 col-lg-6 col-sm-10">
                <div class="features-item">
                    <div class="features-icon">
                        <i class="flaticon-help"></i>
                    </div>
                    <div class="features-content">
                        <h6 class="title">7/24 Kesintisiz Destek</h6>
                        <p>Her türlü sorunuz için +90 555 666 88 88 hattımızdan bize ulaşın.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-sm-10">
                <div class="features-item">
                    <div class="features-icon">
                        <i class="flaticon-plane"></i>
                    </div>
                    <div class="features-content">
                        <h6 class="title">Global Uçuş Deneyimi</h6>
                        <p>Uluslararası rezervasyon asistanlığı için uzman ekibimizle görüşün.</p>
                    </div>
                </div>
            </div>
            <div class="col-xl-4 col-lg-6 col-sm-10">
                <div class="features-item">
                    <div class="features-icon">
                        <i class="flaticon-money-back-guarantee"></i>
                    </div>
                    <div class="features-content">
                        <h6 class="title">Güvenli İade Yönetimi</h6>
                        <p>Bilet iade süreçlerinizi ve güncel durumunuzu anında sorgulayın.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>